<center><img
    src='http://www.eucalyptogroup.com/img/logo1.png'
    style='max-width: 90%;'
  /></center>
<p>Hey {{name}},</p>
<p>Thanks to apply to: </p>
<p>Good Luck! We will be in touch with you soon!</p>
<p>
  <a href='{{url}}'>View Job Offer</a>
</p>