<div style='margin: 3em; padding:3em'>
  <center><img
      src='https://eucalyptogroup.com/file/img/logo1.png'
      style='max-width: 80%; border-radius:3em'
    /></center>
  <p>Hello,</p>
  <p>User: {{displayName}}</p>
  <p>New apply to: {{jobOffer.job}}</p>
  <p>An user has applied to a job offer</p>
  <p>
    <a href='{{jobOffer.url}}'>View Job Offer</a>
  </p>
</div>