<center><img
    src='http://www.eucalyptogroup.com/img/logo1.png'
    style='max-width: 90%;'
  /></center>
<p>Hey {{displayName}},</p>
<p>Thanks to apply to: {{jobOffer.name}}</p>
<p>Good Luck! We will be in touch with you soon!</p>
<p>
  <a href='{{jobOffer.url}}'>View Job Offer</a>
</p>