<div style='margin: 3em; padding:3em'>
  <center><img
      src='https://eucalyptogroup.com/file/img/logo1.png'
      style='max-width: 80%; border-radius:3em'
    /></center>
  <p>Hey {{displayName}},</p>
  <p>Thanks for register in Eucalyptogroup!</p>
  <p>Welcome to the community!</p>

</div>