<div style='margin: 3em; padding:3em'>
  <center><img
      src='http://www.eucalyptogroup.com/img/logo1.png'
      style='max-width: 80%; border-radius:3em'
    /></center>
  <p>Hey {{displayName}},</p>
  <p>The status of your application in: {{jobOffer.job}}</p>
  <p>Has changed!</p>
  <p>New status: {{statusDescription}}</p>
  <p>You can view your history of status updated in the link below</p>
  <p>
    <a href='{{jobOffer.url}}'>View Job Offer</a>
  </p>
</div>